[default]
locale = 'en-gb'
extend-ignore-re = [
  "(?s)(#|//)\\s*spellchecker:off[\\s\\S]*?(#|//)\\s*spellchecker:on",
  "(?s)<!--\\s*spellchecker:off\\s*-->[\\s\\S]*?<!--\\s*spellchecker:on\\s*-->",
  "(?Rm)^.*#\\s*spellchecker:disable-line$",
  "(?m)^.*<!--\\s*spellchecker:disable-line\\s*-->\\n.*$",
  # Ignore entire file if <!-- spellchecker:off --> appears after frontmatter
  "(?s)\\A---[\\s\\S]*?---\\n+<!--\\s*spellchecker:off\\s*-->[\\s\\S]*\\z",
]

[default.extend-words]
Edn = "Edn"
items-center = "items-center"
justify-center = "justify-center"

[files]
extend-exclude = [ "node_modules/**", ]
