@layer theme, base, components, utilities;
@import 'tailwindcss/utilities.css' layer(utilities) source(none);
@reference './tailwind.css';

@font-face {
	font-family: 'Inter Home';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url('./fonts/inter-home-400.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter Home';
	font-style: normal;
	font-display: swap;
	font-weight: 800;
	src: url('./fonts/inter-home-800.woff2') format('woff2');
}

body[data-page-style='home'] {
	font-family: 'Inter Home', 'Inter fallback', sans-serif;
}

@keyframes root-fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes root-flip-in-x {
	0% {
		opacity: 0;
		animation-timing-function: ease-in;
		transform: perspective(400px) rotateX(90deg);
	}

	40% {
		animation-timing-function: ease-in;
		transform: perspective(400px) rotateX(-20deg);
	}

	60% {
		opacity: 1;
		transform: perspective(400px) rotateX(10deg);
	}

	80% {
		transform: perspective(400px) rotateX(-5deg);
	}

	to {
		transform: perspective(400px);
	}
}
