.prose {
	--tw-prose-code: #0f0f0f;
	--tw-prose-invert-code: #ffffff;
	--tw-prose-hr: #7d7d7d4d;
	--tw-prose-th-borders: #7d7d7d4d;
	--tw-prose-td-borders: #7d7d7d4d;
}

html.dark .prose {
	--tw-prose-code: #ffffff;
}
