.markdown-magic-link {
	display: inline-flex;
	align-items: center;
	background: #8882;
	transform: translateY(3px);
	line-height: 100%;
	color: var(--fg-light) !important;
	gap: calc(var(--spacing) * 1);
	border-width: 0 !important;
	border-radius: var(--radius-sm);
	padding: calc(var(--spacing) * 1) calc(var(--spacing) * 1.5);
	font-family: var(--font-condensed);
	transition-property: all;
	transition-duration: 150ms;
}

.markdown-magic-link:hover {
	background: #8883;
	color: var(--fg) !important;
}

.markdown-magic-link-image {
	display: inline-block;
	height: 1.1em;
	width: 1.1em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 2px;
}

.markdown-magic-link.markdown-magic-link-github-at {
	transform: translateY(6px);
	gap: calc(var(--spacing) * 1.2);
	border-radius: 9999px;
	padding: 0 calc(var(--spacing) * 2) 0 0;
	font-size: var(--text-sm);
}

.markdown-magic-link.markdown-magic-link-github-at .markdown-magic-link-image {
	height: 1.6em;
	width: 1.6em;
	border-radius: 50%;
}
