.errorPage {
	display: flex;
	min-height: 50vh;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.errorCode {
	font-size: 3.75rem;
	line-height: 1;
	font-weight: 700;
}

.errorMessage {
	margin-top: 1rem;
	opacity: 0.6;
}

.errorHomeLink {
	margin-top: 2rem;
	text-decoration: underline;
}
