on:
  push:
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions: read-all
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - run: mv .env.example .env
      - run: pnpm i --frozen-lockfile
      - run: pnpm secretlint ./**/*
      - run: pnpm check
      - run: pnpm lint

  spell-check:
    runs-on: ubuntu-slim
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: crate-ci/typos@626c4bedb751ce0b7f03262ca97ddda9a076ae1c # v1.39.2
        with:
          files: ./src/contents/**/*.md
          config: ./typos.toml

  action-timeline:
    needs:
      - ci
      - spell-check
    if: ${{ always() }}
    runs-on: ubuntu-slim
    steps:
      - uses: Kesin11/actions-timeline@54d513e0b5ff1158f1cf8321108d666a5a6c1fca # v2.2.5
