on:
  push:
  pull_request:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions: read-all
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - run: mv .env.example .env
      - run: pnpm i --frozen-lockfile
      - run: pnpm check
      - run: pnpm lint

  spell-check:
    runs-on: ubuntu-slim
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: crate-ci/typos@07d900b8fa1097806b8adb6391b0d3e0ac2fdea7 # v1.39.0
        with:
          files: ./src/contents/**/*.md
          config: ./typos.toml

  secretlint:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Run secretlint
        shell: bash
        run: pnpm dlx @secretlint/quick-start ./**/*

  action-timeline:
    needs:
      - ci
      - spell-check
      - secretlint
    if: ${{ always() }}
    runs-on: ubuntu-slim
    steps:
      - uses: Kesin11/actions-timeline@54d513e0b5ff1158f1cf8321108d666a5a6c1fca # v2.2.5
